.control {
  font-weight: 500;
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  color: light-dark(#094509, #d9f5e2); 
  font-size: var(--mantine-font-size-sm);
  border-radius: var(--mantine-radius-sm);

  @mixin hover {
    background-color: light-dark(#537D5D, #2c4433); 
    color: light-dark(#ffffff, #d9f5e2); 

    & .linkIcon {
      color: light-dark(#ffffff, #d9f5e2);
    }
  }

  &.active {
    &,
    &:hover {
      background-color: light-dark(#537D5D, #2c4433);
      color: light-dark(#ffffff, #d9f5e2);

      & .linkIcon {
        color: light-dark(#ffffff, #d9f5e2);
      }
    }
  }
}

.link {
  font-weight: 500;
  display: block;
  width: calc(100% - var(--mantine-spacing-md) - var(--mantine-spacing-md));
  text-decoration: none;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  padding-left: var(--mantine-spacing-md);
  margin-left: var(--mantine-spacing-xl);
  font-size: var(--mantine-font-size-sm);
  color: light-dark(#094509, #d9f5e2);
  border-left: 2px solid #2E943A;
  border-top-right-radius: var(--mantine-radius-sm);
  border-bottom-right-radius: var(--mantine-radius-sm);

  @mixin hover {
    background-color: light-dark(#c5e6d2, #2c4433);
  }

  &.active {
    &,
    &:hover {
      background-color: light-dark(#537D5D, #2c4433);
      opacity: 0.9;
      color: light-dark(#ffffff, #d9f5e2);
    }
  }
}

.linkIcon {
  color: #2E943A;
  margin-right: var(--mantine-spacing-sm);
  width: rem(25px);
  height: rem(25px);
}

.chevron {
  transition: transform 200ms ease;
}
