.link {
  cursor: pointer;
  color: light-dark(#1a215c, #c4c9ed);
}

.title:hover {
    color: light-dark(#2c3999, #a3abe3);
}

.card:hover {
  border-color: light-dark(#2c3999, #232d7a);
  transform: translateY(-2px);
}

.card {
  transition: all 0.2s ease;
  border-width: 2px;
  min-height: 200px;
  border-color: light-dark(#2c3999, #a3abe3);
  cursor: pointer;
  
  &:hover .title {
      color: light-dark(#2c3999, #c4c9ed);
  }
}

.ignoreLink {
  color: light-dark(#1a215c, #c4c9ed);
}
