.link {
  text-decoration: none;
  color: light-dark(#094509, #D9F5E2);
  transition: color 0.2s ease;

  @mixin hover {
    color: light-dark(#5F9164, #C7F2D1);
  }
}

.card {
  transition: 0.3s ease all;
  background-color: light-dark(#ffffff, #1E1E1E); 
  border: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
  border-radius: var(--mantine-radius-md);
  padding: var(--mantine-spacing-md);

  @mixin hover {
    border-color: light-dark(#5F9164, #C7F2D1);

    .title {
      color: light-dark(#5F9164, #D9F5E2);
    }
  }
}

.title {
  color: light-dark(#094509, #D9F5E2); 
  transition: 0.2s ease all;
}
